<div class="comment_area clearfix">
    <h5 class="title">{{ comments.count }} Comment{{ comments|pluralize }}</h5>
    <ol>
        {% for comment in comments %}
        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="{% static 'img/bg-img/30.jpg' %}" alt="author">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="post-author">{{ comment.name }}</a>
                    <a href="#" class="post-date">{{ comment.timestamp|date:'M d,  Y' }}</a>
                    <p>{{ comment.content }}</p>
                    <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
                </div>
            </div>
        </li>
        <ol class="children">
                <li class="single_comment_area">
                    <!-- Comment Content -->
                   {% for reply in comment.replies.all %}
                    <div class="comment-content d-flex">
                        <!-- Comment Author -->
                        <div class="comment-author">
                            <img src="{% static 'img/bg-img/31.jpg' %}" alt="author">
                        </div>
                        <!-- Comment Meta -->
                        <div class="comment-meta">
                            <a href="#" class="post-author">{{ reply.name }}</a>
                            <a href="#" class="post-date">{{ reply.timestamp|date:'M d,  Y' }}</a>
                            <p>{{ reply.content }}</p>
                        </div>
                    </div>
                     {% endfor %}
                    <div class="contact-form-area">
                        <form method="post" action="."> {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    {{ comment_form.name }}
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                     {{ comment_form.email }}
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                     {{ comment_form.content }}
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn newspaper-btn mt-30 " type="submit">Reply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ol>
        {% endfor %}
    </ol>
</div>

<div class="post-a-comment-area section-padding-80-0">
                            <h4>Leave a comment</h4>
                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form method="post"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            {{ comment_form.name }}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                             {{ comment_form.email }}
                                        </div>
                                        <div class="col-12">
                                             {{ comment_form.content }}
                                        </div>
                                        <div class="col-12 text-center">
                                            <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>




<div class="main-comment-section">
   <div class="comment_area clearfix">
                            <h5 class="title" style="margin-top: 15px;">{{ comments.count }} Comment{{ comments|pluralize }}</h5>

                            <ol>
                                {% for comment in comments %}
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{% static 'img/bg-img/30.jpg' %}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">{{ comment.name }}</a>
                                            <a href="#" class="post-date">{{ comment.timestamp|date:'M d,  Y' }}</a>
                                            <p>{{ comment.content }}</p>
                                            <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2" onclick="showHide()">Reply</button>
                                        </div>
                                    </div>
                                </li>
                                <ol class="children">
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                           {% for reply in comment.replies.all %}
                                            <div class="replied-comments">
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="{% static 'img/bg-img/31.jpg' %}" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#" class="post-author">{{ reply.name }}</a>
                                                    <p>{{ reply.timestamp|date:'M d,  Y' }}</p>
                                                    <p>{{ reply.content }}</p>
                                                </div>
                                            </div>
                                                </div>
                                             {% endfor %}

                                            <div class="contact-form-area">
                                                <form method="post"  class="reply-form" action="."> {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-12 col-lg-6">
                                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                            {{ comment_form.name }}
                                                        </div>
                                                        <div class="col-12 col-lg-6">
                                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                             {{ comment_form.email }}
                                                        </div>
                                                        <div class="col-12">
                                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                             {{ comment_form.content }}
                                                        </div>
                                                        <div class="col-12 text-right">
                                                            <button class="reply-btn btn newspaper-btn mt-30 " type="submit">Reply</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ol>
                                {% endfor %}
                            </ol>
                        </div>

                        </div>

<div class="contact-form-area">
                                <form method="post" class="comment-form" action="."> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            {{ comment_form.name }}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                             {{ comment_form.email }}
                                        </div>
                                        <div class="col-12">

                                             {{ comment_form.content }}
                                            {{ form.media }}
                                        </div>
                                        <div class="col-12 text-center">
                                            <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>










<li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'news:index' %}">Home</a></li>
                                            <li><a href="catagories-post.html">Catagories</a></li>
                                            <li><a href="single-post.html">Single Articles</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="catagories-post.html">Catagories</a></li>
                                                    <li><a href="single-post.html">Single Articles</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="catagories-post.html">Catagories</a></li>
                                                <li><a href="single-post.html">Single Articles</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="catagories-post.html">Catagories</a></li>
                                                <li><a href="single-post.html">Single Articles</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagories</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="catagories-post.html">Catagories</a></li>
                                                <li><a href="single-post.html">Single Articles</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <!-- Single Featured Post -->
                                                <div class="single-blog-post small-featured-post d-flex">
                                                    <div class="post-thumb">
                                                        <a href="#"><img src="{% static 'img/bg-img/23.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="post-data">
                                                        <a href="#" class="post-catagory">Travel</a>
                                                        <div class="post-meta">
                                                            <a href="#" class="post-title">
                                                                <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                                                            </a>
                                                            <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Featured Post -->
                                                <div class="single-blog-post small-featured-post d-flex">
                                                    <div class="post-thumb">
                                                        <a href="#"><img src="{% static 'img/bg-img/24.jpg' %}" alt=""></a>
                                                    </div>
                                                    <div class="post-data">
                                                        <a href="#" class="post-catagory">Politics</a>
                                                        <div class="post-meta">
                                                            <a href="#" class="post-title">
                                                                <h6>Augue semper congue sit amet ac sapien. Fusce consequat.</h6>
                                                            </a>
                                                            <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">Politics</a></li>
                                    <li><a href="#">Breaking News</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Health</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="contact.html">Contact</a></li>







all post.html

<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                    {% for p in items %}
                <!-- Single Featured Post -->
                <div class="single-blog-post small-featured-post d-flex">
                    <div class="post-thumb">
                        <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                    </div>
                    <div class="post-data">
                        <a href="#" class="post-catagory">{{ p.category.name }}</a>
                        <div class="post-meta">
                            <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                <h5>{{ p.title }}</h5>
                            </a>
                            <p class="post-date"><span>{{ p.posted|date:'H:i A' }}</span> | <span>{{ p.posted|date:'M y' }}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- ##### Pagination start ##### -->
                {% if items.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-50">
                        {% if items.has_previous %}
                        <li class="page-item active">
                          <a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link"><span>Prev</span></a>
                        </li>
                        {% endif %}
                        {% for i in page_range %}
                            {% if items.number == i %}
                              <li class="page-item active">
                                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
                              </li>
                          {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                            <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link"><span>Next</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                <!-- ##### Pagination end ##### -->
            </div>
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->


{% for c in cat %}
<li><a href="{% url 'news:category' name=c.name %}">{{ c.name }}</a></li>
{% endfor %}


<!-- Newsletter Widget -->
<div class="newsletter-widget">
    <h4>Newsletter</h4>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <form action="{% url 'newsletters:subscribe' %}" method="POST">{% csrf_token %}
        <input type="text" name="email" placeholder="Email">
       <button type="submit" class="btn w-100">Subscribe</button>
    </form>
</div>
<!-- end Newsletter Widget -->





<!-- Popular post tab -->
<div class="jq-tab-wrapper" id="horizontalTab">
    <div class="jq-tab-menu">
        <div class="jq-tab-title active" data-tab="1" style="color: white;">Popular</div>
        <div class="jq-tab-title" data-tab="2" style="color: white;">Latest</div>
    </div>
    <div class="jq-tab-content-wrapper">
        <div class="jq-tab-content active" data-tab="1">
            {% for m in most_popular %}
            <div class="single-popular-post d-flex flex-row">
                <div class="popular-thumb" style="height: 80px; width: 100px;">
                    <img class="img-fluid" src="{{ m.image.url }}" alt="">
                </div>
                <div class="popular-details">
                    <h6><a href="{% url 'news:PostDetail' id=m.id %}">{{ m.title }}</a></h6>
                    <p>{{ m.posted|date:'F, Y' }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="jq-tab-content active" data-tab="2">
            {% for r in recent %}
            <div class="single-popular-post d-flex flex-row">
                <div class="popular-thumb" style="height: 80px; width: 100px;">
                    <img class="img-fluid" src="{{ r.image.url }}" alt="">
                </div>
                <div class="popular-details">
                    <h6><a href="{% url 'news:PostDetail' id=r.id %}">{{ r.title }}</a></h6>
                    <p>{{ r.posted|date:'F, Y' }}</p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>




<!-- Latest Posts Widget -->
<div class="latest-posts-widget mb-50">
     {% for p in post2 %}
    <!-- Single Featured Post -->
    <div class="single-blog-post small-featured-post d-flex">
        <div class="post-thumb">
            <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
        </div>
        <div class="post-data">
            <a href="" class="post-catagory">{{ p.category.name }}</a>
            <div class="post-meta">
                <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                    <h5>{{ p.title }}</h5>
                </a>
                <p class="post-date"><span>{{ p.posted|date:'H:i A' }}</span> | <span>{{ p.posted|date:'M y' }}</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<!-- Login page -->
<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'img/bg-img/bg-01.jpg' %});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="." method="POST"> {% csrf_token %}
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
					<span class="login100-form-title p-b-49">
						Login
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="user" placeholder="Type your username">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

						<a href="#" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


<a href="{% url 'news:category' name=cricket1.category.name %}" class="post-catagory">{{ cricket1.category.name }}</a>
<p class="post-author">By <a href="{% url 'news:author' name=post.author %}">{{ post.author.auth_name }}</a></p>
<p class="post-date"><span>{{ p.posted|date:'H:i A' }}</span> | <span>{{ p.posted|date:'M y' }}</span></p>



<!-- category page -->
<div class="blog-posts-area">
    <!-- Single Featured Post -->
    <div class="single-blog-post featured-post mb-30">
        {% for c in items %}
        <div class="post-thumb">
            <a href="{% url 'news:PostDetail' id=c.id %}"><img src="{{ c.image.url }}" alt=""></a>
        </div>
        <div class="post-data">
            <a href="" class="post-catagory">{{ c.category.name }}</a>
            <a href="{% url 'news:PostDetail' id=c.id %}" class="post-title">
                <h6>{{ c.title }}</h6>
            </a>
            <div class="post-meta">
                <p class="post-author">By <a href="#">{{ c.author.auth_name }}</a></p>
                <p class="post-excerp">{{ c.body|truncatewords:25|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







 <div class="col-12 col-md-6 col-lg-8">
                    <div class="blog-posts-area">
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            {% for c in items %}
                            <div class="post-thumb">
                                <a href="{% url 'news:PostDetail' id=c.id %}"><img src="{{ c.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="" class="post-catagory">{{ c.category.name }}</a>
                                <a href="{% url 'news:PostDetail' id=c.id %}" class="post-title">
                                    <h6>{{ c.title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">By <a href="#">{{ c.author.auth_name }}</a></p>
                                    <p class="post-excerp">{{ c.body|truncatewords:25|safe }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <!-- Single Featured Post -->
                        {% for s in post1 %}
                        <div class="single-blog-post featured-post-2">
                            <div class="post-thumb">
                                <a href="{% url 'news:PostDetail' id=s.id %}"><img src="{{ s.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta">
                                    <a href="{% url 'news:PostDetail' id=s.id %}" class="post-title">
                                        <h4>{{ s.title }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- ##### Pagination start ##### -->
                {% if items.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-50">
                        {% if items.has_previous %}
                        <li class="page-item active">
                          <a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link"><span>Prev</span></a>
                        </li>
                        {% endif %}
                        {% for i in page_range %}
                            {% if items.number == i %}
                              <li class="page-item active">
                                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
                              </li>
                          {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                            <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link"><span>Next</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                <!-- ##### Pagination end ##### -->
                </div>