{% extends 'news/base.html' %}
{% load static %}
{% block title %} স্বাগতম {% endblock %}

{% block content %}

<!-- ##### Featured Post Area Start ##### -->

<div class="featured-post-area" style="margin-top:-60px">
    <div class="container">
        <div class="section-heading">
            <a href="{% url 'news:category' name=cricket1.category.name %}"><h6> দেশের খবর  </h6></a>
         </div>
        <div class="row" style="margin-top:-60px">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">
                    <!-- Single Featured Post -->
                    <div class="col-12 col-lg-7">
                            
                        <div class="single-blog-post featured-post">
                            <div class="post-thumb">
                                <a href="{% url 'news:PostDetail' id=post.id %}"><img src="{{ post.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'news:PostDetail' id=post.id %}" class="post-title">
                                    <h6>{{ post.title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-excerp">
                                            {{ post.body|truncatewords:35|safe }}

                                    <a href="{% url 'news:PostDetail' id=post.id %}" style="color: red;">
                                        বিস্তারিত
                                    </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                            
                    </div>

                    <div class="col-12 col-lg-5">
                        <!-- Single Featured Post -->
                        {% for s in post1 %}
                        <div class="single-blog-post featured-post-2">
                            <div class="post-thumb">
                                <a href="{% url 'news:PostDetail' id=s.id %}"><img src="{{ s.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta">
                                    <a href="{% url 'news:PostDetail' id=s.id %}" class="post-title">
                                        <h4>{{ s.title }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                    {% for p in post2 %}
                <!-- Single Featured Post -->
                <div class="single-blog-post small-featured-post d-flex">
                    <div class="post-thumb">
                        <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                    </div>
                    <div class="post-data">
                        <div class="post-meta">
                            <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                <h6>{{ p.title }}</h6>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'news:AllPost' %}" style="color: red; font-size: 20px;">
                    সব খবর >>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->

<!-- ##### Popular News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <div class="container" style="margin-top: -60px;">
            <div class="row">
                <div class="col-12 col-lg-8">
                     <div class="section-heading">
                         <a href="{% url 'news:category' name=cricket1.category.name %}"><h6>  খেলাধুলা  </h6></a>
                    </div>

                    <div class="row" style="margin-top: -60px;">
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=cricket1.id %}"><img src="{{ cricket1.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:PostDetail' id=cricket1.id %}" class="post-title">
                                        <h6> {{ cricket1.title }} </h6>
                                    </a>
                                    <p class="post-excerp">
                                        {{ cricket1.body|truncatewords:20|safe }}
                                        <a href="{% url 'news:PostDetail' id=cricket1.id %}" style="color: red;">
                                            বিস্তারিত
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post -->
                        <div class="col-12 col-md-6 col-lg-6">
                            {% for p in cricket %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <div class="post-meta">
                                        <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                            <h6>{{ p.title }}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="section-heading">
                            <a href="{% url 'news:category' name=business1.category.name %}"><h6>অর্থ-বাজার-বাণিজ্য</h6></a>
                        </div>
                        <div class="row" style="margin-top:-60px">
                             <!-- Single Post -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="{% url 'news:PostDetail' id=business1.id %}"><img src="{{ business1.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="{% url 'news:PostDetail' id=business1.id %}" class="post-title">
                                            <h6>{{ business1.title }}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                {% for p in business %}
                                <!-- Single Featured Post -->
                                <div class="single-blog-post small-featured-post d-flex">
                                    <div class="post-thumb">
                                        <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <div class="post-meta">
                                            <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                                <h6>{{ p.title }}</h6>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="section-heading">
                        <a href="{% url 'news:category' name=health1.category.name %}"><h6>লাইফ স্টাইল</h6></a>
                    </div>
                    <div class="row" style="margin-top:-60px">
                        <!-- Entertainment Post -->
                        {% for p in health %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                        <h6>{{ p.title }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                        <!-- End Entertainment Post -->

                    </div>
                    <div class="section-heading">
                        <a href="{% url 'news:category' name=entertainment1.category.name %}"><h6>বিনোদন</h6></a>
                    </div>
                    <div class="row" style="margin-top:-60px">
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=entertainment1.id %}"><img src="{{ entertainment1.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:PostDetail' id=entertainment1.id %}" class="post-title">
                                        <h6> {{ entertainment1.title }} </h6>
                                    </a>
                                    <p class="post-excerp">
                                        {{ entertainment1.body|truncatewords:20|safe }}
                                        <a href="{% url 'news:PostDetail' id=entertainment1.id %}" style="color: red;">
                                            বিস্তারিত
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post -->
                        <div class="col-12 col-md-6 col-lg-6">
                            {% for p in entertainment %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <div class="post-meta">
                                        <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                            <h6>{{ p.title }}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                             {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-4">
                    <div class="single-widget popular-posts-widget">
                        <div class="container">
                              <div class="row">
                                <div class="col-xs-12 ">
                                  <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-popular" role="tab" aria-controls="nav-home" aria-selected="true">সর্বাধিক পঠিত</a>
                                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-recent" role="tab" aria-controls="nav-profile" aria-selected="false">সর্বশেষ</a>

                                    </div>
                                  </nav>
                                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-popular" role="tabpanel" aria-labelledby="nav-home-tab">
                                      {% for m in most_popular %}
                                        <div class="single-popular-post d-flex flex-row">
                                            <div class="popular-thumb" style="height: 40px; width: 100px;">
                                                <a href="{% url 'news:PostDetail' id=m.id %}"><img class="img-fluid" src="{{ m.image.url }}" alt=""></a>
                                            </div>
                                            <div class="popular-details">
                                                <h6><a href="{% url 'news:PostDetail' id=m.id %}">{{ m.title }}</a></h6>
                                            </div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-recent" role="tabpanel" aria-labelledby="nav-profile-tab">
                                      {% for r in recent %}
                                        <div class="single-popular-post d-flex flex-row">
                                            <div class="popular-thumb" style="height: 80px; width: 100px;">
                                                <a href="{% url 'news:PostDetail' id=r.id %}"><img class="img-fluid" src="{{ r.image.url }}" alt=""></a>
                                            </div>
                                            <div class="popular-details">
                                                <h6><a href="{% url 'news:PostDetail' id=r.id %}">{{ r.title }}</a></h6>
                                            </div>
                                        </div>
                                       {% endfor %}
                                    </div>
                                  </div>

                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="section-heading">
                        <a href="{% url 'news:category' name=tech1.category.name %}"><h6>বিজ্ঞান-প্রযুক্তির খবর</h6></a>
                    </div>
                    <div class="row" style="margin-top: -60px;">
                        {% for p in tech %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta">
                                    <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                        <h6>{{ p.title }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget" style="margin-top: 60px;">
                        <h4>নিউজলেটারের জন্য নিবন্ধন করুন</h4>
                        <form action="{% url 'newsletters:subscribe' %}" method="POST">{% csrf_token %}
                            <input type="text" name="email" placeholder="Email">
                           <button type="submit" class="btn w-100">Subscribe</button>
                        </form>
                    </div>
                    <!-- end Newsletter Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Popular News Area End ##### -->

<!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="{% static 'img/bg-img/video1.jpg' %}" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="{% url 'news:category' name=tech1.category.name %}" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="{% static 'img/bg-img/video2.jpg' %}" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-video-post">
                        <img src="{% static 'img/bg-img/video3.jpg' %}" alt="">
                        <!-- Video Button -->
                        <div class="videobtn">
                            <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Video Post Area End ##### -->
 <!-- ##### Editorial Post Area Start ##### -->
    <div class="editors-pick-post-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Editors Pick -->
                <div class="col-12 col-md-7 col-lg-9" >
                    <div class="section-heading">
                        <h6>হাইলাইটস</h6>
                    </div>
                    <div class="row" style="margin-top:-50px">
                        <!-- Single Post -->
                        <div class="col-12 col-md-6 col-lg-6">
                            <a href="{% url 'news:category' name=bangladesh1.category.name %}"><h6>সমগ্র বাংলাদেশ</h6></a>
                                {% for p in bangladesh %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:category' name=p.category.name %}" class="post-catagory">{{ p.category.name }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                            <h6>{{ p.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ p.posted|date:'H:i A' }}</span> | <span>{{ p.posted|date:'M y' }}</span></p>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                        </div>

                        <!-- Single Post -->
                        <div class="col-12 col-md-6 col-lg-6">
                            <a href="{% url 'news:category' name=finance1.category.name %}"><h6>ব্যবসা ও অর্থনীতির সংবাদ</h6></a>
                                {% for p in finance %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:category' name=p.category.name %}" class="post-catagory">{{ p.category.name }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                            <h6>{{ p.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ p.posted|date:'H:i A' }}</span> | <span>{{ p.posted|date:'M y' }}</span></p>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="margin-top:40px">
                        <div class="section-heading">
                            <a href="{% url 'news:category' name=opinion1.category.name %}"><h6>মতামত</h6></a>
                        </div>
                        <div class="row" style="margin-top:-40px">
                        {% for p in opinion %}
                        <!-- Single Post -->
                        <div class="col-12 col-lg-4" >
                            <div class="single-blog-post">
                                <div class="post-thumb">
                                    <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                        <h6>{{ p.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-date">{{ p.posted|date:'M y' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>

                <!-- World News -->
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="section-heading" >
                        <a href="{% url 'news:category' name=worlds1.category.name %}"><h6>আন্তর্জাতিক সংবাদ</h6></a>
                    </div>
                    {% for p in worlds %}
                    <!-- Single Post -->
                    <div class="single-blog-post style-2">
                        <div class="post-thumb">
                            <a href="{% url 'news:PostDetail' id=p.id %}"><img src="{{ p.image.url }}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="{% url 'news:PostDetail' id=p.id %}" class="post-title">
                                <h6>{{ p.title }}</h6>
                            </a>
                            <div class="post-meta">
                                <div class="post-date">{{ p.posted|date:'d F Y' }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Editorial Post Area End ##### -->


<!-- https://stackoverflow.com/questions/48707588/how-to-filter-categories-in-django   -->

<link rel="stylesheet" href="{% static 'css/nab_tab.css' %}">

{% endblock %}
